{
    "presets": [
        ["es2015", { "modules": false }]
    ],
    "plugins": [
        [
            "babel-plugin-transform-builtin-classes",
            { "globals": ["Array", "Error", "HTMLElement"] }
        ]
    ]
}
